$color-turqoise : #33CCCC;
$color-orange 	: #FF6633;
$color-blue 	: #086A87;
$color-green 	: #0DA290;
$color-grey 	: #EAEAEA;

body{
	font-family: 'Noto Sans', sans-serif;	
	margin: 0px;
	padding: 0 px;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Circular Std';
	src: url('./assets/fonts/CircularStd-Bold.eot');
	src: url('/assets/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/CircularStd-Bold.woff') format('woff'),
		url('/assets/fonts/CircularStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


*, .border-box, :after, :before {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button, input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    vertical-align: baseline;
}

input, textarea {
    color: #333;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 10px;
}

.heading-typography{
	font-family: 'Noto Sans', Helvetica, sans-serif;
	color: #444;
	font-weight: 600;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

h3{
	@extend .heading-typography;
	font-size: 36px;
	color: $color-blue;
}

h4{
	@extend .heading-typography;
	font-size: 18px;
	color: $color-blue;	
}

p, ul li, li{
	font-size: 13px;
	line-height: 18px;
	color: #444;
}

.main-typography{
	font-family: 'Noto Sans', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #444;
	font-weight: 300;
	padding: 0px;
	margin: 0px;
}

.centered{
	margin: 0px auto;
	display: block;
}

.wrapper{
	position: relative;
    clear: both;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.align-items-end{
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
}

.list{
	list-style:none;

}

.width-100{
	width: 100%;
	display: block;
	clear: both;
	zoom: 1.0;
}

.icon{
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	-webkit-transform: scale(0.7);
}

.icon-gray-product{
    background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -256px/28px 591px;
}

.icon-gray-coupon {
    background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -231px/28px 591px;
}

.icon-gray-trend {
    background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -281px/28px 591px;
}

.icon-search-blue {
    width: 26px;
    height: 26px;
    background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -333px/28px 591px;
}

.content-block{
	width: 100%;
	max-width:1024px;
	margin: 0px auto;
}

.menu-inline{
	ul{
		@extend .list;	
		li{
			list-style:none;
			display: inline-block;
			padding: 5px 0px;
			margin-right: 10px;
			border-top: 2px solid transparent;
			a{
				text-transform: capitalize;
				color: #fff;
				padding: 0px;
				text-decoration: none;
				font-size: 13px;
				font-family: 'Noto Sans', Helvetica, sans-serif;
				.icon{
					opacity: .7;
					margin-top: -3px;
					margin-right: 2px;
					-webkit-filter: brightness(50);
					-moz-filter: brightness(50);
					filter: brightness(50);
				}
			}
		}
	}
}


@media screen and (max-width: 640px){
	
	.col-4{
		width: 100%;
	}

	#countdown{
		background: url(./assets/img/11sale_mobile.svg) no-repeat;
		margin-bottom: 15px;
		.countdown-timer{
		    width: 100%;
		    min-height: 560px;
		    padding: 0px 15px;
		    h2 {
			    padding: 110px 0px 0px 0px;
			    font-size: 56px;
			}
			h3{
				font-size: 16px;
				bottom: 15px;
				line-height:24px;
			}
		}
	}
	#sup-section{
		.sup-item{
			width:100%;
		}
	}
	.subscribe-now {
		padding: 25px 20px;
		h4{
		    padding: 20px 0px 30px 0px;
		}
	}
}
@media screen and (min-width:1024px)
{
	.width-100{
		max-width: 1280px;
	}

	#countdown{
		background: url(./assets/img/11sale.svg) no-repeat;
		background-size: 100%;
		.countdown-timer{
		    h2 {
			    padding: 20px 0px 0px 0px;
			    font-size: 96px;
			}
			h3{
			    font-size: 28px;
			    line-height: 40px;
			    bottom: 45px;
			    position: absolute;
			}
		}
	}
	.subscribe-now {
		padding: 0px 50px;
		h4{
		    padding: 95px 0px 50px 0px;

		}
	}
}

#courtesies-banner{
	position: relative;
    background: linear-gradient(270deg,#15899d 0,#30cccd 100%);
    width: 100%;
    display: block;
    @extend .menu-inline;
}

#header{
	background: linear-gradient(270deg,#15899d 0,#30cccd 100%);
	width: 100%;
	display: block;
	#banner{
		height: 60px;
		padding: 0 5px;
		margin: 0px;
		.wrapper{
			height:100%;
			.logo{
				background-image: url(https://d1vfs9f7h1rfk4.cloudfront.net/assets/my/trends-logo-header.png);
				margin-left: 10px;
				width: 118px;
			    height: 36px;
			    background-size: 118px 36px;
			    background-repeat: no-repeat;
			    display: block;
			    margin-top: 6px;
			}
			.motto{
				margin-left: 20px;
			    font-size: 24px;
			    line-height: 30px;
			    font-weight: 400;
			    display: block;
			    color: #fff;
			    margin-top: 6px;
			}
			form{
				position: relative;
				margin-left: 20px;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				input{
					width: 100%;
					max-width: 700px;
				    font-size: 16px;
				    line-height: 22px;
				    padding: 10px;
				    padding-right: 40px;

				}
				button{
				    position: absolute;
				    right: 10px;
				    background: none;
				    height: 40px;
				    border:none;
				    .icon{
				    	-webkit-transform: scale(0.8);
				    	transform: scale(0.8);
				    }
				}
			}
		}
	}
}
#main-content{
	margin: 0px auto;
	width: 100%;
	padding: 0px;
	#big-slider{
		max-height: 457px;
		margin: 0px;
	}
	#countdown{
		background-size: 100%;
		.countdown-timer{
		    width: 100%;
		    max-width: 640px;
		    margin: 0px auto;
		    position: relative;
		    display: block;
		    h2 {
			    margin: 0px;
			    text-align: center;
			    color: #fff;
			    font-family: 'Circular Std', sans-serif;
			}
			amp-iframe{
				width:100%;
				max-height:240px;
			}
			h3{
				color: #fff;
			    font-weight: normal;
			    text-align: center;
			    margin: 0px;
			    padding: 10px 0px;
			    width: 100%;
			    font-family: 'Circular Std', sans-serif;
			    font-weight: bold;
			    text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
			}
		}
	}
	/*** On campaign css ***/
	#brand-top{

	}
	#brand-list{
		.brand-item{
			padding: 0px;
			a{
				width:100%;
				display: block;
				padding: 10px;
				amp-img{
					width:100%;
				}
			}

		}
	}
	#subscribe-form{
		@extend .content-block;	
		.subscribe-form-content{
		    padding: 0px 20px;
		    .big-highlight{
				padding: 0px;
			}
			.subscribe-now {
			    background: #33CCCC;
			    > *{
				    color: #fff;
				}
				h4{
				    font-size: 16px;
				    font-weight: 600;
				    line-height: 24px;
				}
				form{
					#mc_embed_signup_scroll{
						position: relative;
						.email{
						    width: 100%;
						    display: block;
						    color: #fff;
						    text-align:center;
						    margin: 0px;
						    padding: 10px;
						    border: none;
						    border-radius: 0px 0px 0px 0px ;
						    background: none;
						    border-bottom: 1px solid #fff;
						    font-size: 16px;
						    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							  color: #fff;
							}
							&::-moz-placeholder { /* Firefox 19+ */
							  color: #fff;
							}
							&:-ms-input-placeholder { /* IE 10+ */
							  color: #fff;
							}
							&:-moz-placeholder { /* Firefox 18- */
							  color: #FF6633;
							}

						}
						label{
						    position: absolute;
						    left: 0px;
						    top: -10px;
						    font-size: 13px;
						    opacity: 0;
						    -webkit-transform: translateX(-20px);
						    -webkit-transition: all linear 250ms;
						    -moz-transition: all linear 250ms;
						    transition: all linear 250ms;
						}
						input:focus:not([readonly]) + label{
						    opacity: 1.0;
						    -webkit-transform: translateX(0px);
						    -webkit-transition: all linear 250ms;
						    -moz-transition: all linear 250ms;
						    transition: all linear 250ms;
						}
						.clear {
						    text-align:center;
						    padding-top: 25px;
						    .button{
							    background: #086A87;
							    color: #fff;
							    font-family: "Noto Sans", sans-serif;
							    font-size: 14px;
							    text-transform: uppercase;
							    border-radius: 4px;
							    border: 1px solid #fff;
							    margin: 0px auto;
							    padding: 10px 25px;
							    text-align: center;
							    font-weight: bold;
							}
						}
						.hidden{
						    position: absolute;
						    left: -5000px;
						}
					}
				}
			}
		}
	}
	#sup-section{
		.heading-content{
			@extend .content-block;	
			margin-top: 35px;
		}
		.sup-content.row {
		    @extend .content-block;	
		    margin-top: 15px;
		}

		.sup-item{
		    margin: 0px;
		    padding: 5px 10px 5px 5px;
		}

		.sup-item:nth-child(2){
		    padding: 5px 5px 5px 5px;
		}

		.sup-item:last-child{
		    padding: 5px 5px 5px 10px;
		}

		.sup-item-wrapper{
		    background: #f7f7f7;
		    border-radius: 8px;
		    padding:25px;
		    min-height: 294px;
		    border: 1px solid #e4e4e4;
		    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
		    text-align:center;
		}

		.sup-item-wrapper p{
		    color: #444;
		}
		.sup-item-wrapper .icon-sup-item{
		    width:96px;
		    height: 96px;
		    margin: 0px auto;
		    display:block;
		    background-size: 100%;
		}

		.icon-variety{
		    background: url(./assets/img/variety-icon.png) no-repeat;
		}

		.icon-safety{
		    background: url(./assets/img/safety-icon.png) no-repeat;
		}

		.icon-savings{
		    background: url(./assets/img/savings-icon.png) no-repeat;
		}
	}
	#eleven-content{
		width: 100%;
		display: table;
		margin: 40px 0px;
		.post-content{
			width: 100%;
			max-width: 1024px;
			margin: 0px auto;
			float: none;
			.post-item{
				padding: 10px 20px;
				h4{
					font-size: 16px;
					font-weight: normal;
					text-align:left;
				}
				ol{
					li{
						font-size: 13px;
						line-height: 18px;
						color: #9a9a9a;
					}
				}

			}

		}
	}
}
#footer{
	#links{
		padding: 40px 0;
		background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/logos/logo-crop-3630768420.png) no-repeat left bottom #3cc;
		.wrapper{
			@extend .wrapper;
		}
		.cs-wrapper{
			padding: 0 30px 0;
			padding-left: 147px;
			.wrapper{
				padding: 0 6rem;
				div{
					padding-bottom: 0;
					width: 33.33%;
					float:left;
					h3{
						margin-bottom: 10px;
					    color: #fff;
					    font-weight: 400;
					    text-align:left;
					    font-size: 14px;
					}
					ul
					{
						list-style:none;
						margin: 0px;
						margin-bottom: 5px;
						padding: 0px;
						li{
							height: 30px;
							list-style:none;
							a{
								color: #fff;
								text-decoration: none;
								font-size: 14px;
								.icon{
									display: inline-block;
								    vertical-align: middle;
								    margin-top: -2px;
								    width: 18px;
								    height: 18px;
								    padding-right: 10px;
								    background-repeat: no-repeat;
								}
								.icon-singapore{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 0/28px 591px;
								}
								.icon-indonesia{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -171px/28px 591px;
								}
								.icon-philippines{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -133px/28px 591px;
								}
								.icon-hong-kong{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -152px/28px 591px;
								}
								.icon-thailand{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -114px/28px 591px;
								}
								.icon-vietnam{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -95px/28px 591px;
								}
								.icon-facebook{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -76px/28px 591px;
								}
								.icon-pinterest{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -38px/28px 591px;
								}
								.icon-twitter{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -19px/28px 591px;
								}
								.icon-google-plus{
									background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -57px/28px 591px;
								}
							}

						}
					}
				}
			}
		}
	}
	#disclaimer{
		padding: 20px 10px;
		background: #f2f2f2;
		.wrapper{
			@extend .wrapper;
			.flex-column{
				small,p{
					padding-bottom: 5px;
					font-size: 11px;
					margin-left: 147px;
				}
			}
		}
		.en-my{
			background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/logos/logo-footer_en-73b3f48e73.png) no-repeat 0 0/127px 38px;
		}
	}
}

