doctype
html(amp, lang="en")
  head
    meta(charset="utf-8")
    script(async, src="https://cdn.ampproject.org/v0.js")
    script(async, custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")
    script(async, custom-element="amp-list", src="https://cdn.ampproject.org/v0/amp-list-0.1.js")
    script(async, custom-element="amp-mustache", src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js")
    title Sale on iPricegroup Malaysia
    link(rel="canonical", href="/index.html")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700", rel="stylesheet")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Sale on iPriceGroup Malaysia",
        "descriptions" : "Single’s Day sales is here! Get all your favourite products on discounts!",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    | 
    |<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    style(amp-custom)
      include assets/css/bootstrap.min.css
      include assets/css/main.min.css
  body
    amp-analytics(config="https://www.googletagmanager.com/amp.json?id=GTM-KZ7RK6R&amp;gtm.url=SOURCE_URL", data-credentials="include", aria-hidden="true")
    #main-content.width-100
      #wording-eleven
        .content-block.row
          .tagline.col-md-3
            h3 11/11 Sale
          .tagline-content.col-md-9
            p Get ready to do all your year’s shopping starting from 1st November 2017. Known as Singles’ Day, 11-11 is a day created for those who would rather shop online than do anything else. The sale starts on 1st November and goes on until 13rd November! Thanks to the amazing discounts from the best merchants in Malaysia, you get rebates and huge promotions on all your favourite items and services. 
      #brand-list
        .brand-list.row.content-block
          amp-list(width="1024", height="260", layout="responsive", src="https://api.myjson.com/bins/x317h")
            template(type="amp-mustache")
              .brand-item.col-md-4
                a
                  amp-img(src="{{url}}", width="360", title="{{title}}",height="260", layout="responsive")
    




